body {
    background: #f8f9fa;
}

.special-btn {
    clip-path: polygon(0 0,100% 0,100% 100%,12px 100%,0 calc(100% - 12px));
    overflow: hidden;
    text-overflow: ellipsis;
}

.underline::after {
    content: "";
    display: block;
    height: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    margin-top: 10px;
    --tw-skew-x: 45deg;
    transform: var(--tw-transform);
    --tw-bg-opacity: 1;
    background-color: rgb(255 205 30/var(--tw-bg-opacity));
}

.icon {
    width: 40px;
}

.special-form-control {
    width: 90%;
    border: none;
    border-bottom: 1px solid;
}

.no-border-radius{ 
    border-radius: none;
}

.fs-20 {
    font-size: 20px;
}

.tag-button {
    border-radius: 20px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-buttons {
    display: flex;
    overflow: overlay;
    width: 75%;
    
}

.list-buttons::-webkit-scrollbar{
    display: none;
}

#search {
    border-radius: 20px;
    padding-left: 30px;
    width: 300px;
}

.icon-search {
    position: relative;
    left: 31px;
    top: 0;
}

.zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:active
     {
    -ms-transform: scale(2.5);    
    -moz-transform: scale(2.5);  
    -webkit-transform: scale(2.5);  
    -o-transform: scale(2.5);  
    transform: scale(2.5);    
    position:relative;      
    z-index:100;
}

.width-50 {
    width: 50px;
}

.width-70 {
    width: 70px;
}

.width-100 {
    width: 100px;
}

.height-39 {
    height: 39px;
}

.height-50 {
    height: 50px;
}

.profile {
    width: 35px;
    height: 30px;
    border-radius: 20px;
}

.pt-70 {
    padding-top: 70px;
}

#mainCarrusel {
    margin: auto;
}

.max-height-100 {
    max-height: 100px;
}

.max-height-500 {
    max-height: 500px;
}

.mx-width-100 {
    max-width: 100%;
}