.section-title-home {
    display: flex;
    justify-content: space-between;
}

.select {
    height: 30px;
    border-radius: 40px;
    width: auto;
}

.section-home {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.section-home select {
    display: initial;
}

.section-home select{
    width: auto;
}

.border-bottom-none {
    border-bottom: hidden!important;
}

@media (max-width:991px) {
    .section-home {
        display: block;
    }
    .section-home label{
        width: 100%;
        margin-bottom: 20px;
    }
    .section-home select{
        width: 100%;
    }
    #search {
        width: 100%;
    }
    .icon-search {
        left: 10px;
        top: 22px;
        position: relative;
    }
}