
#session {
    background: no-repeat   url("../images/backLoginRegister.jpg");
    background-size: cover;
}

.card {
    border-radius: 1rem;
}

.img-desktop {
    height: 516px;
    max-width: 100%;
}

.secondary-color {
    color: #393f81;
}

.title {
    letter-spacing: 1px;
}

.img-login {
    height: 666px;
    max-width: 100%;
}