.title {
    font-size: 50px;
}

p {
    font-size: 26px;
}

.p-center {
    padding: 70px;
}

.float-left {
    float: left;
}

.section {
    border-top: 5px solid grey;
    padding: 40px 0;
    background: #f8f9fa;
}

.border-bottom-section {
    border-bottom: 5px solid grey;
}

.float-right {
    float: right;
}

@media (min-width:991px) and (max-width: 1415px) {
    .title {
        font-size: 40px;
    }
    
    p {
        font-size: 20px;
    }

    .p-center {
        padding: 40px;
    }
} 

@media (max-width: 991px) {
    .p-center {
        padding: 20px;
    }
    .title {
        font-size: 26px;
    }
    
    p {
        font-size: 18px;
    }
    .float-left {
        float: none;
    }
    .float-right {
        float: none;
    }
}